<div class="about-container">
  <mat-card class="about-card">
    <div class="about-content">
      <img
        src="assets/img/dev-web.png?auto=format&fit=crop&w=800&q=80"
        alt="Notre équipe"
        class="img-class"
      />

      <div class="text-content">
        <h2>Qui sommes-nous ?</h2>
        <p>
          Nous sommes une équipe passionnée par le développement web et la
          technologie. Notre mission est de rendre la création d'applications
          plus simple, plus rapide et plus agréable.
        </p>
        <p>
          Chez nous, l'utilisateur est au centre de tout. Chaque fonctionnalité
          est pensée pour offrir une expérience fluide, accessible et moderne.
        </p>
        <p>Rejoignez-nous dans cette aventure numérique ! 🚀</p>
      </div>
    </div>
  </mat-card>
</div>
